{% extends 'main.html' %}

{% block head %}

<style>
    .activity-container{
        display: grid;
        grid-template-columns: auto auto;
    }
</style>

{% endblock head %}


{% block content %}
    
<style>
    .activity-container{
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
</style>
    
<div class="activity-container">
    <div>
        <h1>{{activity.name}}</h1>
        <h2>Host: {{activity.host}}</h2>
        <h3>Time: {{activity.start_time}} - {{activity.end_time}}</h3>
        {% if request.user != activity.host %}
        <a href="{% url 'edit-activity' activity.activity_id %}"><h5>Edit</h5></a>
        {% endif %}
        <a href="/"><h5>Return</h5></a>
        <hr>
        <div class="notes-wrapper">
            <h2>Notes</h2>
            {% for comment in comments %}
            <small>{{ comment.user }} {{ comment.create_dt|timesince}} ago</small>
            <p>{{ comment.description }}</p>
            <br>
            {% endfor %}
        </div>
        
        {% if request.user.is_authenticated %}
        <div class="notes-form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="note" placeholder="Type note here..." />
            </form>
        </div>
        {% endif %}
    </div>
    
    <div>
        <h2>Participants</h2>
        <hr>
        {% for participant in participants %}
        <ul>
            <li>{{participant.username}}</li>
        </ul>
        {% endfor %}
    </div>
</div>
    
{% endblock %}
